body{
margin: 0;
padding: 0;
;
}

a {
  text-decoration: none;
}

li{
  list-style: none;

}

h1 h2 h3 p{
  text-align:center;
}

p{
  text-align: justify;
  line-height: 22px;
}

mark{
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    color: rgb(34, 64, 57);
    font-size: 50px;
    background-color: rgb(236, 215, 204);
}

mark1{
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  color: black;
  font-size: 25px;
  background-color: rgb(236, 215, 204);
}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background: #126f80;
}

.btn:hover {
  opacity: 1;
}

/* this is for header*/

header {

  height: 50px;
  width: 100%;
  background-color: #126f80;
}

.header-list li{
  font-family: monospace;
  float:left;
  font-size: 18px;
  padding left: 30px;
  padding-right: 30px;

}

.header-left{
  float: left;
  padding-right: 0px;
}

.header-center{

}

.header-right{
  float: right;
  padding-top: 15px;
  padding left: 30px;
  padding-right: 30px;
}

/*top*/
.top-wrapper {
  padding-top:250px;
  padding-bottom:100px;
  text-align: center;
  background-image: url(sunshineee.jpg);
  background-size: cover;


}


}
.top-wrapper h1 {
  padding-top: 500px;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-size: 58px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

/*about me*/
.Aboutme-wrapper{
  background-color: rgb(255, 235, 219);
  width: 100%;
  padding: 30px 0 100px 0;
  color: rgb(40, 39, 42);
  text-align: center;
  height: 350px;
  font-family:serif;
}

.box-aboutme{
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  padding: 30px;
  background:rgba(217, 158, 117, 0.69);
  box-sizing: border-box;
  border-radius: 10px;
  letter-spacing: 0.5px;
  font-family: Copperplate;
  font-size: 18px;
}

.circle {
  width: 250px;
  height: 250px;
  background: url(foto.jpg);
  border-radius: 50%;
  float: left;
  margin: 30px 50px 30px 30px;
}


/*experiences*/
.box-wrapper{
  background-color: rgb(255, 235, 219);
  width: 100%;
  padding-top: 30px;
  height: 400px;

}

.heading{
  text-align: center;
}

.box{
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px;
}

.box-wrapper .box{
  position: relative;
  float: left;
  width: 30%;
  padding-left: 20px;
  padding-right: 20px;
  background: #f95151;
  box-shadow: 0 5px 15px  rgba(167, 97, 97, 0.6);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;

}

/*art*/

.art-wrapper{
  height: 300px;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 30px;
  background: rgb(241, 215, 187);
}

.Circular{
  border-radius: 50%;
  padding: 30px;
}


/*message*/
.message-wrapper{
  height: 400px;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 30px;
  background: #f95151;
}

.contact-submit {
  background-color: rgb(219, 205, 205);
  cursor: pointer;
  box-shadow: 0 7px #999999;
  text-align: center;
  margin: 20px 0;
  padding: 12px 24px;
  color: #000000;
  display: inline-block;
  opacity: 0.8;
  border-radius: 40px;
}

.contact-submit:hover {
  background-color: #126f80;
  box-shadow: 0 7px #277f8f;
  color: white;
}

.contact-submit p {
  margin: 10px 0;
}

.contact-submit:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

input, textarea {
  width: 350px;
  padding: 10px;
  font size: 15px;
  border: 1px solid #126f80;
  border-radius: 40px;
  align: center;
}

.heading p{
  text-align: center;
}

/*footer*/

footer{
  background-color: #126f80;
  padding-top: 15px;
  height: 50px;
  width: 100%;

}
